{{some-component}}
{{oneword}}
{{a-helper}}

{{#block-component}}
  body
  {{a-helper property}}
{{/block-component}}

{{varisalsoacomponent}}


{{ab}}

{{#let (concat "a" "b") as |ab|}}
  {{ab}}
{{/let}}

{{#each records as |record|}}
  {{record.property}}
{{/each}}


<SomeComponent ...attributes />
<Oneword @arg={{a-helper property}} />

<button {{on 'click' (fn myAction property)}}>hi</button>

{{#block-component property as |locallyOverridden|}}
  body: {{locallyOverridden}}
  {{a-helper property arg=property}}
{{/block-component}}

<Varisalsoacomponent @arg={{action (fn myAction)}} />
