  <h1></h1>
  <h1 class="foo" id="title"></h1>
  <h1>Test</h1>
  <h1>{{this.model.title}}</h1>
  <h1>{{link-to "Foo" class="bar"}}</h1>
  <h1 class={{if this.foo "foo" "bar"}}>Test</h1>
  <h1 class={{this.color}}>Test</h1>
  <h1 class="{{if active "active" "inactive"}} foo">Test</h1>
  <p {{action "activate"}} {{someting foo="bar"}}>Test</p>
  <p>{{my-component submit=(action (mut this.model.name) (full-name this.model.firstName "Smith"))}}</p>
  <ul>{{#each foos as |foo index|}}\n  <li>{{foo}}: {{index}}</li>\n{{/each}}</ul>
  {{#if this.foo}}<p>{{this.foo}}</p>{{/if}}
  {{#if this.foo}}Foo{{else if this.bar}}Bar{{else}}Baz{{/if}}
  <Foo>{{this.bar}}</Foo>
  <Foo></Foo>
  <Foo />
  <Foo as |bar|>{{bar}}</Foo>

  <input disabled />

  // void elements
  <br>
  <br />

  // comments
  <!-- foo -->
  <div {{!-- foo --}}></div>
  <div>{{!-- foo bar --}}<b></b></div>
  {{!-- {{foo-bar}} --}}

  // literals
  <Panel @arg={{"Foo"}}></Panel>
  <Panel @arg={{true}}></Panel>
  <Panel @arg={{5}}></Panel>
  {{panel arg="Foo"}}
  {{panel arg=true}}
  {{panel arg=5}}

  // nested tags with indent
  <div>\n  <p>Test</p>\n</div>

  // attributes escaping
  <h1 class="foo" id="title" data-a="&quot;Foo&nbsp;&amp;&nbsp;Bar&quot;"></h1>,
  <h1 class="< &nbsp; {{if this.x "&" "<"}} &amp; &quot;">Test</h1>

  // slash in path
  {{namespace/foo "bar" baz="qux"}}

  // unescaped
  {{{unescaped}}}
