{{page-title 'Pyckle'}}

<WelcomePage />

A component:
{{! template-lint-disable no-implicit-this }}
{{! template-lint-disable no-curly-component-invocation }}
{{gherkyn}}

A helper:
{{! template-lint-disable no-implicit-this }}
{{! template-lint-disable no-curly-component-invocation }}
{{cucumbyr}}

{{outlet}}

<label>
  An Input
  {{input}}
</label>